#banner{
    width: 100%;
    background:url("../image/13.png")no-repeat center center;
    height: 200px;
    max-width: 100%;
    background-size: 100% auto;
    min-height: 222px;
    border: none;
}
#tab{
    width: 100%;
    background-color: brown;
}
#tab_about{
    width: 10%;
    
}

.tab_button{
    background-image: url("../image/11.png");
    border: none;
}